<%= form_with(model: @micropost, local: true) do |f|%>
    <%= render 'shared/error_messages', object: f.object%>
    <div class="filed">
        <%= f.text_area :content, placeholder: "投稿したい内容を記入してください"%>
    </div>
    <%= f.submit "Post", class: "btn btn-primary"%>
<% end %>