<% provide(:title, "Ho to ") %>
<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>Learning Management </title>
  </head>
  <body>
    <h1>学習時間管理アプリ『LearningManagement』の使い方</h1>
    <p>
      このアプリは次の機能を備えています
    </p>
    <ul>
      <li>タイマー</li>
      <li>ストップウォッチ</li>
      <li>ToDoリスト</li>
      <li>学習時間記録・図示</li>
      <li>SNS</li>
    </ul>
  </body>
</html>