<% provide(:title, "トップページ") %>
<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>Learning Managementの使い方</title>
  </head>
  <body>
    <h1>学習時間管理アプリ『LearningManagement』</h1>
    <p>
      みんな登録してね
    </p>
  </body>
</html>